<!DOCTYPE html>
<html lang="en">
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/css/style2.css">
  <title>Login - Register Form | Flask</title>
</head>
<body>
    <h1 align="center" style="color: white; margin-top: 100px">Web App MK Kalkulus</h1>
    <div id="home_quicklinks">
                                <a class="quicklink link1" href="/register">
                                    <span class="ql_caption">
                                        <span class="outer">
                                            <span class="inner">
                                                <h2>Register</h2>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="ql_top"></span>
                                    <span class="ql_bottom"></span>
                                </a>

                                <a class="quicklink link3" href="/login">
                                    <span class="ql_caption">
                                        <span class="outer">
                                            <span class="inner">
                                                <h2>Log in</h2>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="ql_top"></span>
                                    <span class="ql_bottom"></span>
                                </a>
  <div class="hexTop"></div>
  <div class="hexBottom"></div>
</div>
<!--    <div class="container" style="border: 3px solid #FB4F84; width:500px">-->
<!--        <div class="row" style="margin-top: 50px">-->
<!--            <div class="col-sm-6">-->
<!--                <ul>-->
<!--                    <li class="col-sm-6"><a href="/login" class="btn form-control btn-success">Login</a></li>-->
<!--                    <li class="col-sm-6"><a href="/register" class="btn form-control btn-primary">Sign up</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
</body>
</html>