{% extends "extends/base.html" %}
{% block title %}
    <title>Web App Kalkulus Dgn Python</title>
{% endblock title %}
{{ self.title() }}
    Home
{{ self.title() }}
<button onclick="window.location.href='/'" class="btn btn-outline btn-rounded btn-info">
    <i class="ti-arrow-left m-l-5"></i>
    <span>Back Home</span>
</button> Project 1

{{ self.title() }}
    Launchpad Project 1

{% block content %}

<div class="row">
    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12">
        <div class="bg-info white-box m-b-0">
            <ul class="expense-box">
                <li><i class="ti-star text-white"></i>
                    <div>
                        <h1 class="text-white m-b-0">KALKULUS</h1>
                        <h4 class="text-white">Kls DEF Filkom UB 2022</h4>
                    </div>
                </li>
            </ul>
        </div>
        <div class="white-box">
            <div class="row">
                <div class="col-xs-9">
                    <h2 class="m-b-0 font-medium">Sistem Bilangan<sup>TM</sup></h2>
                    <h5 class="text-muted m-t-0">Mampu Membedakan Tipe-Tipe Bilangan Real dan yang bukan Real</h5><br>
                </div>
                <div class="btn-group btn-block">
                    <button aria-expanded="false" data-toggle="dropdown"
                        class="btn btn-block btn-outline btn-rounded btn-primary dropdown-toggle waves-effect waves-light"
                        type="button">View Detail <span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="int_vs_float">Bilangan Asli, Cacah, Bulat, Rasional dan Irasional</a></li>
                        <li><a href="#">Bilangan Komposit, Kompleks</a></li>
                        <li><a href="#">Bilangan/Deret Prima, Fibonacci</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12">
        <div class="bg-primary white-box m-b-0">
            <ul class="expense-box">
                <li><i class="ti-bar-chart text-white"></i>
                    <div>
                        <h1 class="text-white m-b-0">KALKULUS</h1>
                        <h4 class="text-white">Kls DEF Filkom UB 2022</h4>
                    </div>
                </li>
            </ul>
        </div>
        <div class="white-box">
            <div class="row">
                <div class="col-xs-9">
                    <h2 class="m-b-0 font-medium">Tentang Pertidaksamaan<sup>TM</sup></h2>
                    <h5 class="text-muted m-t-0">Contoh pada Kasus Dasar, Nilai Mutlak dan Kuadratik</h5><br>
                </div>
                <div class="btn-group btn-block">
                    <button aria-expanded="false" data-toggle="dropdown"
                        class="btn btn-block btn-outline btn-rounded btn-primary dropdown-toggle waves-effect waves-light"
                        type="button">View Detail <span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Pertidaksamaan Sederhana</a></li>
                        <li><a href="code_timsort">Pertidaksamaan dengan Nilai Mutlak</a></li>
                        <li><a href="bokeh">Pertidaksamaan Kuadratik</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12">
        <div class="bg-info white-box m-b-0">
            <ul class="expense-box">
                <li><i class="ti-star text-white"></i>
                    <div>
                        <h1 class="text-white m-b-0">KALKULUS</h1>
                        <h4 class="text-white">Kls DEF Filkom UB 2022</h4>
                    </div>
                </li>
            </ul>
        </div>
        <div class="white-box">
            <div class="row">
                <div class="col-xs-9">
                    <h2 class="m-b-0 font-medium">Fungsi vs Relasi<sup>TM</sup></h2>
                    <h5 class="text-muted m-t-0">Uraian komposisi antar Fungsi, Invers, Fungsi Gamma dll.</h5><br>
                </div>
                <button onclick="window.location.href='#'" class="btn btn-block btn-outline btn-rounded btn-info">
                    <span>View Detail</span>
                    <i class="ti-arrow-right m-l-5"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12">
        <div class="bg-primary white-box m-b-0">
            <ul class="expense-box">
                <li><i class="ti-server text-white"></i>
                    <div>
                        <h1 class="text-white m-b-0">KALKULUS</h1>
                        <h4 class="text-white">Kls DEF Filkom UB 2022</h4>
                    </div>
                </li>
            </ul>
        </div>
        <div class="white-box">
            <div class="row">
                <div class="col-xs-9">
                    <h2 class="m-b-0 font-medium">Profile Teams<sup>&reg;</sup></h2>
                    <h5 class="text-muted m-t-0">Pengerjaan Tugas Ke-1 pada Web App + Teknologi Cloud</h5><br>
                </div>
                <div class="col-xs-3">
                    <div class="circle circle-md bg-primary pull-right m-t-10"><i class="ti-server"></i></div>
                </div>
                <button onclick="window.location.href='#'"
                    class="btn btn-block btn-outline btn-rounded btn-primary">
                    <span>View Detail</span>
                    <i class="ti-arrow-right m-l-5"></i>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}