<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style4.css">
</head>
<body>
    <div class="login-box">
        <h2>Login</h2>
        <form method="POST">
            <div class="user-box">
                <input type="text" name="mail" class="form-control" id="mail">
                <label for="email">Username (Email) : </label>
            </div>
            <div class="user-box">
                <input type="password" name="passw" class="form-control" id="passw">
                <label for="email">Password : </label>
            </div>
            <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <button type="submit">Login</button>
            </a>
            <a href="/">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Home
            </a>
        </form>
    </div>

    <!--<div class="container">-->
    <!--    <div class="white-box" style="margin-top: 60px">-->
    <!--        <div class="col-sm-6">-->
    <!--            <form method="POST">-->
    <!--                <div class="form-group">-->
    <!--                  <label for="email">Username (Email) : </label>-->
    <!--                  <input type="text" name="mail" class="form-control" id="mail">-->
    <!--                </div>-->
    <!--                <div class="form-group">-->
    <!--                  <label for="email">Password : </label>-->
    <!--                  <input type="password" name="passw" class="form-control" id="passw">-->
    <!--                </div>-->
    <!--                <button type="submit" class="btn form-control btn-default">Login</button>-->
    <!--            </form>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->


<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
</body>
</html>